process {
    withName:aoflagger {
        executor = 'slurm'
        queue = 'icelake-himem'
        container = 'pmkeller/imaging-tools'
        memory = '24GB'
        time = '5m'
    }

    withName:getRegions {
        executor = 'slurm'
        queue = 'icelake-himem'
        cpus = 1
        time = '10m'
    }

    withName:wscleanInspect {
        executor = 'slurm'
        queue = 'icelake-himem'
        container = 'pmkeller/imaging-tools'
        time = '15m'
    }

    withName:wscleanDirty {
        executor = 'slurm'
        queue = 'icelake-himem'
        container = 'pmkeller/imaging-tools'
        time = '10m'
    }

    withName:wscleanStokesV {
        executor = 'slurm'
        queue = 'icelake-himem'
        container = 'pmkeller/imaging-tools'
        memory = '48GB'
        time = '15m'
    }

    withName:wsclean {
        executor = 'slurm'
        queue = 'icelake-himem'
        container = 'pmkeller/imaging-tools'
        time = '90m'
    }

    withName:predict {
        executor = 'slurm'
        queue = 'icelake-himem'
        container = 'pmkeller/imaging-tools'
        time = '10m'
    }

    withName:imageOutliers {
        executor = 'slurm'
        queue = 'icelake-himem'
        container = 'pmkeller/imaging-tools'
        time = '60m'
    }

    withName:subtractOutliers {
        executor = 'slurm'
        queue = 'icelake-himem'
        container = 'pmkeller/imaging-tools'
        time = '30m'
    }

    withName:flagRFI {
        executor = 'slurm'
        queue = 'icelake-himem'
        container = 'pmkeller/imaging-tools'
        cpus = 1
        memory = '12GB'
        time = '15m'
    }

    withName:selfCal {
        executor = 'slurm'
        queue = 'icelake-himem'
        container = 'pmkeller/imaging-tools'
        cpus = 1
        memory = '24GB'
        time = '15m'
    }
}

apptainer {
    enabled = true
    autoMount = true
}

conda {
    enabled = true
}

executor {
    queueSize = 12
}